* {
    box-sizing: border-box;
}

.video-background {
    background: #000;
    position: fixed;
    top: -40%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    pointer-events: none;
}

#vidtop-content {
    top: 0;
    color: #fff;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }
    .vid-info h1 {
        margin-bottom: .2rem;
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}

.header-text {
    z-index: 200;
    top: 50px;
    padding: 10em 0px 10em 0px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Bangers', cursive;
    background-color: rgba(0, 0, 0, 0.58);
}

h2,
h3 {
    font-family: 'Bangers', cursive;

}

.header-text h1 {
    font-size: 12em;
    color: #f4f4f4;
    letter-spacing: 0.05em;
    text-shadow: 5px 15px 25px rgba(56, 55, 55, 0.66);
}

.header-text h5 {
    font-size: 2em;
    color: #f4f4f4;
    letter-spacing: 0.05em;
    text-shadow: 5px 15px 25px rgba(56, 55, 55, 0.66);
}

.ontopofheader {
    background-color: white;
    min-height: 250%;
    z-index: 999;
    padding: 1px;
}

@media all and (max-width: 715px) {
    .video-background {
        display: none;
    }
    .header-text {
        display: none;
    }
    .ontopofheader {
        margin-top: 150px;
    }

}

@media all and (max-width: 992px) {

    .hide-image {
        display: none;
    }
}

@media all and (max-width: 768px) {

    nav ul {
        display: none;
    }

    .navbar-right {
        display: none;
    }
}
